/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.12.2018, 15:09:33
    Author     : ITK
*/
div {
    box-sizing: border-box;
}

header {
    height: 300px;
}

.container {
    width: 930px;
    margin: 0 auto;
}

nav {
    
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    
}

.menu li a {
    
}

.titles {
    
}

h1 {
    font-size: 40px;
    color: blue;
    text-transform: uppercase;
    text-align: center;
}

.services {
    
}

.services_item {
    
}

.services_item p {
    display: table;
    color: yellowgreen;
    width: 100%;
    height: 100%;  
}

.box div {
    word-wrap:break-word;
    width:300px;
    display:inline-block;
    border:1px solid black
}

/*footer .services > * {
    border: 1px solid red;
}*/

#table {
    display: table;
    border-collapse: collapse;
}

.td1 {
    width:90px;
    border: 1px solid black;
}

.td2 {
    width:90px;
    border: 1px solid black;
}

.td3 {
    width:700px;
    border: 1px solid black;
}

.td4 {
    width:90px;
    border: 1px solid black;
}

.row {
    display: table-row
}

.cell {
    display: table-cell
}



        form {
          border-radius: 1em;
          padding: 1em;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%) }
       .b1 {
          background: #b3d2ee; /* Цвет фона */ 
          color: red; /* Черные буквы */ 
          font-size: 12pt; /* Размер шрифта в пунктах */  }
       .shadowbox {
          background: #b3d2ee; /* Цвет фона */ 
          color: blue; /* Синии буквы */ 
          font-size: 16Px; /* Размер шрифта в пунктах */ } 
       
   
